<ion-header >
  <div>
      <app-header></app-header>
  </div>
</ion-header>

<ion-content>
  <div style="width: fit-content; margin: auto; text-align: center;">
    <br>
    <br>
    <h4>Please input the email address you registered for your account</h4>
    <br>
    <br>
    <form>

      <ion-item style="width: 95%;">
            <ion-label position="float">Email address</ion-label>
            <ion-input minlength="6" type="email" required></ion-input>
        </ion-item>
    
        <br>
        <button type="submit" color="secondary" size="small">Find Your Password</button>
    </form>
    <br><br>
    </div>

</ion-content>
