<ion-header  style="background-color: #add8e6d2">
 
  <app-header></app-header>

</ion-header>
<ion-content>
<div>

<form [formGroup]="contributeForm" (ngSubmit)="submitForm()" id="form" novalidate>
<ion-item>
  <ion-label position="stacked" >Event name *</ion-label>
    <ion-input  formControlName="name" required placeholder="Enter the event name"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked"  >Date of Next Event *</ion-label>
    <ion-input type="Date"  formControlName="date" required placeholder="Date" ></ion-input>
</ion-item>


<ion-item>
  <ion-label position="stacked">Same date every year? *</ion-label>
  <ion-select   formControlName="same" required placeholder="Select One">
    <ion-select-option value="yes">Yes</ion-select-option>
    <ion-select-option value="no">No</ion-select-option>
    <ion-select-option value="don't">I don't know</ion-select-option>
  </ion-select>
</ion-item>


<ion-item>
  <ion-label position="stacked">If not, how is it determined every year?(10-60 words) </ion-label>
  <ion-textarea minlength="10" maxlength="60" placeholder="Type here.." formControlName="dateDetermination"></ion-textarea>
</ion-item>


<ion-item>
  <ion-label position="stacked">Religious/Non-religious *</ion-label>
  <ion-select formControlName="religious"  required placeholder="Select One">
    <ion-select-option value="Non-Religious">Non-Religious</ion-select-option>
    <ion-select-option value="Baha'i">Baha'i</ion-select-option>
    <ion-select-option value="Buddhism">Buddhism</ion-select-option>
    <ion-select-option value="Christian">Christian</ion-select-option>
    <ion-select-option value="Hinduism">Hinduism</ion-select-option>
    <ion-select-option value="Indigenous">Indigenous</ion-select-option>
    <ion-select-option value="Jewish">Jewish</ion-select-option>
    <ion-select-option value="Muslim">Muslim</ion-select-option>
    <ion-select-option value="Sikhism">Sikhism</ion-select-option>
    <ion-select-option value="Other">Other</ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label position="stacked">Type of event *</ion-label>
  <ion-select  formControlName="type" required placeholder="Select One">
    <ion-select-option value="Celebration">Celebration</ion-select-option>
    <ion-select-option value="Local Holiday">Local Holiday</ion-select-option>
    <ion-select-option value="Statutory Holiday">Statutory Holiday</ion-select-option>
  </ion-select>
</ion-item>


<ion-item>
  <ion-label position="stacked" >Where in Canada observed? </ion-label>
    <ion-input formControlName="canadaObservedPlace" placeholder="Enter the event name"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Reason(20-200 words) *</ion-label>
  <ion-textarea minlength="20" maxlength="200" formControlName="reason" required placeholder="Type here.."></ion-textarea>
</ion-item>




    <ion-item>
      <ion-label position="stacked">What do people do?(20-200 words) *</ion-label>
      <ion-textarea minlength="20" maxlength="200" formControlName="ritual" required placeholder="Type here.."></ion-textarea>
    </ion-item>


    <!-- <ion-item>
      <ion-list>
        <ion-radio-group value="yes">
  
            <ion-list-header>
              <ion-label position="stacked">Same every year?</ion-label>
            </ion-list-header>
  
          <ion-item>
            <ion-label>Yes</ion-label>
            <ion-radio slot="start" value="yes"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>No</ion-label>
            <ion-radio slot="start" value="no"></ion-radio>
          </ion-item>
  
          <ion-item>
            <ion-label>I don't know</ion-label>
            <ion-radio slot="start" value="don't"></ion-radio>
          </ion-item>
  
        </ion-radio-group>
      </ion-list>
    </ion-item> -->
    

<br>
    <div class="c" *ngIf="alertMessage">
      <br>
      <ion-text color="danger"><b>{{alertMessage}}</b></ion-text>
      <br>
  </div>
  <br>

  
<button class= "c" type="submit" >Submit</button>
 
</form>


</div>

</ion-content>