<div id="header">
    Our Culture's - The app
</div>
<div id="navigation">
    <a href="" class="navi-button">Home</a>
    <a href="" class="navi-button">Popular Events</a>
    <a href="" class="navi-button" [routerLink]="['/login']">Contribute</a>
    <div id="searchBar">
        <ion-searchbar [(ngModel)]="searchValue" (ngModelChange)="searchListener()" id="searchEventBar" (ionClear)="clearlBtnClick()" ngDefaultControl></ion-searchbar>
        <div class="ion-card" id="searchSuggestion">
            <a *ngFor="let i of displaySearchableItems | keyvalue" [routerLink]="['/'+i.value]">
                <div class="suggestedItems">{{ i.key }}</div>
            </a>
        </div>
    </div>
</div>