<div id="all">
    <div id="header" class="header">
        Our Cultures
    </div>
    <div id="navigation">

        <div id="searchBar">
            <ion-searchbar [(ngModel)]="searchValue" (ngModelChange)="searchListener()" id="searchEventBar"
                (ionClear)="clearlBtnClick()" ngDefaultControl>
            </ion-searchbar>
            <div class="ion-card" id="searchSuggestion">
                  <a *ngFor="let i of displayResults">
                    <div class="suggestedItems" (click)="eventClick(i)" [routerLink]="!i.date ?[]:['/event-detail']">{{ !i.date ? i.name : i.name + " (" + i.date + ")"}}</div>
                  </a>
            </div>
        </div>

        <div id="link" style="display: flex; text-align: center;font-size: 14px; font-weight: bold;text-decoration: underline;">
            <div style="width:20%;"> 
                <a href="" class="navi-button" [routerLink]="['/home']" style="color: black;">Home</a>
            </div>
            <div style="width:50%;">
                <a href="" class="navi-button" [routerLink]="['/popular-events']" style="color: black;">Popular Events</a>
            </div>
            <div style="width:30%;">
                <a href="" class="navi-button" [routerLink]="['/contribution']" style="color: black;">Contribute</a>
            </div>
        </div>
    </div>
</div>