<!-- NEED TO MAKE THE HEADER PART A SEPARATE COMPONENT WITH CSS AND JS -->
<ion-header [translucent]="true">
    <div>
        <div id="header">
            Our Cultures - The App
        </div>
        <div id="navigation">
            <a href="" class="navi-button">Home</a>
            <a href="" class="navi-button">Popular Events</a>
            <a href="" class="navi-button" [routerLink]="['/login']">Contribute</a>
        </div>
    </div>
</ion-header>

<ion-content [fullscreen]="true">
    <br>
    <div style="width: 50%; margin: auto;">
        <ion-card>
            <ion-card-header color="danger">
                <ion-card-title>Warning</ion-card-title>
            </ion-card-header>

            <ion-card-content class="ion-text-center">
                <br>
                <ion-card-title>Server temporarilly unavailable</ion-card-title>
                <ion-icon style="font-size: 100px; display: block;margin: auto;" name="warning"></ion-icon>
                Please contact with info@ourculturetheapp.com to get more information
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>