<ion-header [translucent]="true" style="background-color: #ADD8E6;">
    <div>
        <app-header></app-header>
    </div>
</ion-header>


<ion-content [fullscreen]="true">
    <br><br>
    <div style="width: fit-content; margin: auto;text-align: center;">
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
            <ion-item style="width: 400px;">
                <ion-label position="stacked">Email</ion-label>
                <ion-input minlength="6" formControlName="email" type="email" required placeholder="Enter email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Password</ion-label>
                <ion-input minlength="8" formControlName="password" type="password" required placeholder="Enter password"></ion-input>
            </ion-item>
            <br>

            <ion-button type="submit" color="primary" (click)="submitForm()">Log in</ion-button>
     <ion-button color="primary" style="float:right" [routerLink]="['/signup']" >Register</ion-button>
           

        </form>
        <br><br>
        <a [routerLink]="['/findpassword']">Find my password</a>
    </div>
</ion-content>