<ion-app id="all">
  <div id="header">
  <ion-menu contentId="main-content" side="start">
    <ion-header >
      <ion-toolbar>
        <ion-title>Our Cultures</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content id = "content">
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let nav of NAV">
          <ion-item 
            routerDirection="root" 
             [routerLink]="nav.link" 
             [class.active-menu]="active === nav.link">
              {{nav.name}}
              <ion-icon slot="start" [ios]="nav.icon + '-outline'" [md]="nav.icon + '-sharp'"></ion-icon>              
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <div style="margin: auto; position: absolute; width:fit-content;bottom: 0; left: 0; right: 0; margin-left: auto; margin-right: auto;">
        <ion-button (click)="refreshCalendar()" fill="clear" size="small" color="dark">Refresh calendar</ion-button>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content" main></ion-router-outlet>
</div>
</ion-app>
