<ion-header  >
    <div>
        <app-header></app-header>
    </div>
</ion-header>


<ion-content >
    <script type="text/javascript" src="js/SocialSharing.js"></script>
    <script type="text/javascript" src="js/LocalNotifications.js"></script>
    <ion-grid style="width: 95%;">
        <ion-list>
            <ion-list-header class="ion-text-center">
                <ion-back-button defaultHref="home" style="font-size: 15px;"></ion-back-button>
            </ion-list-header>
            <ion-list-header class="ion-text-center">
                
                <h1><b>{{selectedEvent.title}}</b></h1> <br>

            </ion-list-header>

            <ion-row style="margin-left: 3%;">
                <p>  <ion-icon name="notifications" slot="icon-only"></ion-icon></p>
                      <p > <b>Notification - </b>
                      </p>
                      <ion-select  class="selector" (ionChange)="setNotification($event)" value="0">
                          <ion-select-option value="0">Don't notify</ion-select-option>
                          <ion-select-option value="3">3 days before</ion-select-option>
                          <ion-select-option value="2">2 days before</ion-select-option>
                          <ion-select-option value="1">1 day before</ion-select-option>
                          <ion-select-option value="4">After 10 seconds</ion-select-option>
                          <ion-select-option value="5">After 15 seconds</ion-select-option>
                         
      
                      </ion-select>
                 
      
              </ion-row>


            <ion-item>
                <ion-label>
                    <h2>Date of Next Event:</h2>
                    <p>{{selectedEvent.date}}</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h2>Same data every year:</h2>
                    <p>{{selectedEvent.dateDetermination ? "No, " + selectedEvent.dateDetermination : (selectedEvent.dateDetermination == "" ? "Yes" : "")}}</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h2>Religious/Non-Religious?</h2>
                    <p>{{selectedEvent.religious}}</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h2>Type of Event:</h2>
                    <p>{{selectedEvent.eventType}}</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label class="ion-text-wrap">
                    <h2>Where in Canada Observed:</h2>
                    <p>{{selectedEvent.canadaObservedPlace}}</p>
                </ion-label>
                
            </ion-item>
            <ion-item>
                <ion-label class="ion-text-wrap">
                    <h2>Reasons:</h2>
                    <p>{{selectedEvent.reason}}</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label class="ion-text-wrap">
                    <h2>What do people do?</h2>
                    <p>{{selectedEvent.activity}}</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-grid>
    <br>
    
    <div style="display: flexbox;text-align: center;">

        <h4>You Can Share Via: </h4>

        <ion-button (click)="shareViaTwitter()" fill="clear">
            <ion-icon name="logo-twitter" slot="icon-only"></ion-icon>
        </ion-button>
        
        <ion-button (click)="shareViaEmail()" fill="clear">
            <ion-icon name="mail-open" slot="icon-only"></ion-icon>
        </ion-button>

        <ion-button (click)="shareViaWhatsapp()" fill="clear">
            <ion-icon name="logo-whatsapp" slot="icon-only"></ion-icon>
        </ion-button>

    </div>
    
    <br>
</ion-content>