<ion-header>
    <div>
        <app-header></app-header>
    </div>
</ion-header>


<ion-content >
    <br><br>
    <div style="width: fit-content; margin: auto;text-align: center;">
        <form [formGroup]="signupForm" (ngSubmit)="submitForm()" novalidate>

            <ion-item style="width:90%;margin-left: 2%;">
                <ion-label position="float">Name</ion-label>
                <ion-input minlength="1" formControlName="name" required></ion-input>
            </ion-item>
            <ion-item style="width:90%;margin-left: 2%;">
                <ion-label position="float">Email</ion-label>
                <ion-input minlength="6" formControlName="email" type="email" required>
                </ion-input>
            </ion-item>
            <ion-item style="width:90%;margin-left: 2%;">
                <ion-label position="float">Password</ion-label>
                <ion-input minlength="8" formControlName="password" type="password" required>
                </ion-input>
            </ion-item>

            <ion-item style="width:90%;margin-left: 2%;">
                <ion-label position="float">Confirm Password</ion-label>
                <ion-input minlength="8" formControlName="conpassword" type="password" required>
                </ion-input>
            </ion-item>
            <div *ngIf="alertMessage">
                <br>
                <ion-text color="danger">
                    <h6>{{alertMessage}}</h6>
                </ion-text>
                <br>
            </div>
            <br>
            <ion-row style="margin-left: 35%;">
                <button type="submit" color="secondary" size="small">Register</button>
            </ion-row>
        </form>
        <br><br>
        <ion-row style="margin-left: 30%;">
            <a [routerLink]="['/findpassword']">Find my password</a>
        </ion-row>
    </div>
</ion-content>