ion-content {
    justify-content: center;
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

#calendar-table {
    border: 1px solid #222222;
}

.center {
    text-align: center;
}

a {
    text-decoration: none;
}

ion-calendar {
    font-weight: bold;
    width: 90%;
    text-align: center;
    font-size: 15px;
    padding: 1%;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: lightcyan;
    color: #222222;
}

.selector {
    width: 80%;
    margin: auto;
    --placeholder-color: black;
    --placeholder-opacity: 1;
    float: right;
    font-size: 12px;
    border-radius: 5px;
    margin-right: 1%;
    background-color: lightskyblue;
}

#selector {
    display: inline-block;
    width: 140%;
    font-size: 14px;
    font-weight: bold;
}

.viewButtonDiv {
    margin: auto;
    text-align: center;
    padding: 3%;
}

.eventList {
    font-size: smaller;
    margin-left: 5%;
    color: #37474f;
}

a {
    color: #37474f;
    font-size: smaller;
    margin-left: 10px;
}

a:hover {
    font-weight: 600;
}
ion-button:hover {
    transform: translateY(0);
  }

  