<ion-header>
    <div>
        <app-header></app-header>
    </div>
</ion-header>
<ion-content [fullscreen]="true" id="all">

    <div class="viewButtonDiv">
        <ion-button color="secondary" size="small">Monthly</ion-button>
        <ion-button color="secondary" size="small">Weekly</ion-button>
    </div>

    <div style="text-align: center;">
        <ion-calendar [(ngModel)]="dateRange" [options]="optionsRange" [type]="type" [format]="'YYYY-MM-DD'">
        </ion-calendar>

    </div>

    <ion-row style="margin-left: 3%;">
        <ion-col>
            <p id="selector"> Coming Week Events
            </p>
        </ion-col>
        <ion-col>
            <ion-select interface="popover" placeholder="All Events" class="selector">
                <ion-select-option>Observance</ion-select-option>
                <ion-select-option>Christian</ion-select-option>
                <ion-select-option>Muslims</ion-select-option>
                <ion-select-option>Budish</ion-select-option>
                <ion-select-option>Indian</ion-select-option>
            </ion-select>
        </ion-col>
    </ion-row>
    <ion-row class="ventList">
        <p><a [routerLink]="['/event-detail']" >Oct 8 Milad un Nabi (Mawlid), Muslim</a> </p>
    </ion-row>
    <ion-row class="ventList">
        <p><a [routerLink]="['/event-detail']" >Oct 10 First day of Sukkot, Jewish Holiday</a>
        </p>
    </ion-row>
    <ion-row class="ventList">
        <p><a [routerLink]="['/event-detail']" >Oct 10 Thanksgiving Day, Statutory Holiday</a>
        </p>
    </ion-row>
</ion-content>