<ion-header>
    <div>
        <app-header></app-header>
    </div>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="getFreshData($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>
    <div>
        <!--button to choose Monthly and Weekly Calendar-->
        <ion-segment [(ngModel)]="calendar.mode">
            <ion-segment-button value="month">
                <ion-label>Month</ion-label>
            </ion-segment-button>

            <ion-segment-button value="week">
                <ion-label>Week</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>

    <div>
        <ion-row>
            <!-- Move back one screen of the slides -->
            <ion-col size="2">
                <ion-button fill="clear" (click)="back()">
                    <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-col>

            <!--Monthly Calendar Title-->
            <ion-col size="8" class="ion-text-center">
                <h5>{{ viewTitle }}</h5>
            </ion-col>

            <!-- Move forward one screen of the slides -->
            <ion-col size="2">
                <ion-button fill="clear" (click)="next()">
                    <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </div>
    <div id="cal">
        <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
            (onTitleChanged)="onViewTitleChanged($event)" (onEventSelected)="onEventSelected($event)"
            [formatDayHeader]="calendar.formatDayHeader" [startingDayMonth]="calendar.startingDayMonth" [startingDayWeek]="calendar.startingDayWeek"
            [formatMonthTitle]="calendar.formatMonthTitle" [formatWeekTitle]="calendar.formatWeekTitle"
            [formatWeekViewDayHeader]="calendar.formatWeekViewDayHeader" [allDayLabel]="calendar.allDayLabel"
            [monthviewDisplayEventTemplate]="monthlyTemplate" [weekviewAllDayEventTemplate]="WeeklyTemplate">
        </calendar>
        <!--Template to show the calendar dates and events-->

        <ng-template #monthlyTemplate let-view="view" let-row="row" let-col="col">
            <!--Show the event list in the table-->
            <div [class.with-event]="view.dates[row*7+col].events.length" style="font-size: small; font-weight: 700;">
                <!--Show the dates in the calendar-->
                {{view.dates[row*7+col].label}}
                <!--Show the indicators(selected days with indicated backgroud color and dots)-->
                <div class="indicator-container">
                    <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events"></div>
                </div>
            </div>
        </ng-template>

        <ng-template #WeeklyTemplate let-displayEvent="displayEvent" let-showEventDetail="showEventDetail" let-noEventsLabel="noEventsLabel">
            <ul class="calendar-event-inner" ngFor="let i of events">
                <li [ngStyle]="{'background-color':getColor(displayEvent.event.eventTypeTitle)}">{{displayEvent.event.eventTypeTitle}}</li>
            </ul>
           
        </ng-template>
    </div>

    <!--  To add random events to the calendar with dots -->
    <div>
        <ion-row>
            <ion-col size="6">
                <ion-button (click)="createRandomEvents()" expand="block">
                    Add random events
                </ion-button>
            </ion-col>

            <ion-col size="6">
                <ion-button (click)="removeEvents()" expand="block">
                    Remove all events
                </ion-button>
            </ion-col>
        </ion-row>
    </div>


    <div>
        <ion-row style="margin-left: 3%;">
            <ion-col>
                <p id="selector"> Coming Week Events
                </p>
            </ion-col>
            <ion-col>
                <ion-select interface="action-sheet" placeholder="All Events" class="selector">
                    <ion-select-option value="Celebration">Celebration</ion-select-option>
                    <ion-select-option value="Local Holiday">Local Holiday</ion-select-option>
                    <ion-select-option value="Statutory Holiday">Statutory Holiday</ion-select-option>
                </ion-select>
            </ion-col>

        </ion-row>

        <ion-list class="eventList">
            <ion-item *ngFor=" let item of eventsArray; let i=index">
                <ion-lable [routerLink]="['/event-detail']">{{i+1}}. {{item}}</ion-lable>
            </ion-item>
        </ion-list>

        <!--
             <br>
        <h5 style="text-align: center;">No coming events in this week</h5>
        <br>
        <br>
        <br>
        <br>
     
        
        -->
    </div>

</ion-content>