#cal{
  background-color: #fbf0dc!important;
  min-width: 300px; 
  padding: 0%;
  width: 95%;
  margin-left:2.5%;
  line-height: 50px ;
}

#container strong {
  font-size: 15px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color:gra;
  margin: 0;
}

#container a {
  text-decoration: none;
}



.center {
  text-align: center;
}

a {
  text-decoration: none;
}


.selector {
  width: 80%;
  margin: auto;
  --placeholder-color: black;
  --placeholder-opacity: 1;
  float: right;
  font-size: 12px;
  border-radius: 5px;
  margin-right: 1%;
  background-color: #FBAC33;
}

#selector {
  display: inline-block;
  width: 140%;
  font-size: 14px;
  font-weight: bold;
}



.eventList {
  margin-left: 1%;
  color: #37474f;
  margin-bottom: 10px;
}

a {
  color: #37474f;
  font-size: smaller;
  margin-left: 10px;
}

a:hover {
  font-weight: 600;
}

ion-button:hover {
  transform: translateY(0);
}

.indicator-container {
  padding-left: 0.5rem;
  padding-bottom: 0.4rem;
}

.event-indicator {
  background: #FFD146;
  width: 5px;
  height: 5px;
  border-radius: 2px;
  display: table-cell;
}

:host ::ng-deep {
  .monthview-primary-with-event {
    background-color: #f29b52 !important;
  }

  .monthview-selected {
    color: white!important;
    background-color:#f27786!important;
  }

  .event-detail-container{
    overflow: hide;
    display: flexbox;
  }
  .monthview-eventdetail-timecolumn{
    font-size: 12px!important;
    display: none;
  }

  .event-detail{
    font-size: 12px!important;
    overflow: hidden;
  }

  .weekview-allday-label{
    font-size: 10px!important;
  }
  .dayview-allday-label{
    font-size: 10px!important;
  }
  td, th,tbody,table {
    border: 0 !important;
    height: fit-content!important;
  }
  .monthview-currentDate{
    background-color: green!important;
  }

}

.with-event {
  color:#37474f;
  border-radius: 15px;

}
.calendar-event-inner {
  overflow: hidden;
  color: white;
  height: 100%;
  width: 100%;
  padding: 2px;
  font-size: 12px;
}
.day-calendar-event-inner {
  color: white;
  font-size: 12px;
  width: 100%;
  text-align: start;
}


.calendar-event{
  overflow: hidden;
  color: white;
  padding: 2px;
  font-size: 12px;
}

ion-button {
  width: auto;
  text-align: center;
  font-size: 0.7em;
  padding: 1%;
  margin: 1%;

}
ion-segment {
  margin:10px;
  width: 95%;
}
ion-item{
  font-size: 13px;

}
ion-item:hover {
  font-weight: 500;
}
ul{
  text-align: left;
}

ion-segment-button {
  color:#DD8174;
  font-weight: 700;
}
ion-icon{
  color:#f27786;
}
